@charset 'UFT-8';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    width: 100%;
    padding: 2%;
    background-color: rgba(36, 2, 70, 0.829);
}
.container{
    max-width: 1190px;
    margin: 0 auto;
}

main{
    width: 100%;
    height: 87vh;
    background-color: red;
    background-image:url(../images/header_bg.png);
    background-size: cover;
}
.banners{
    display: flex;
    justify-content: space-between;
    
}

.banner1{
    margin-top: 10%;
    width: 600px;
    padding: 50px;
    background-color: rgba(6, 5, 87, 0.205);
    line-height: 2em;
    list-style-position: inside;
    color: white;

}

.bannerform{
    margin-top: -10px;
    margin-bottom: -60px;
    width: 400px;
    padding: 10px;
    background-color: aliceblue;
    border: 12px solid rgba(29, 28, 28, 0.055);
    text-align: center;
}
.bannerform h3{
    color: gray;
}
.bannerform input[type=button]{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 2px;
    width: 200px;
    height: 48px;
    color: gray;
    background-color: rgba(36, 2, 70);
    border-bottom:2px solid rgba(65, 6, 124, 0.829);
}
.bannerform input[type=button]:hover{
    border-bottom:rgba(36, 2, 70);
    background-color: rgba(65, 6, 124, 0.842);
    cursor: pointer;
}
.formu{
    text-align: left;
    padding: 10px;
    color:gray;
}
form input{
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
}
.section{
    background-color: lightgray;

}
.elem{
    text-align: center;
    padding: 3%;
}
.elem h1{
    text-transform: uppercase;
    margin: 20px;
}

.elem p{
    text-align: justify;
}

.cardp{
    /* background-color: ; */
    text-align: center;
    padding: 2%;
    position: relative;
}
.cardp h2{
    margin-top: 60px;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lightgray;
    font-weight: 100;
}
.imgicon{
    position:absolute;
    width: 50px;
    height:50px;
    border-radius: 50%;
    top: -25px;
    left:47.8%;
    background-color: rebeccapurple;
    background-image: url(../images/arrow.png);
    background-size: cover;
}
.cart{
    display: flex;
    padding: 2%;
}

.ca{
    padding: 8px;
   
}
.ca p{
    text-align: justify;
}

footer{
    padding: 2%;
    text-align: center;
}
@media screen and (max-width:1024px){
    main{
        height: 100%;
    }
    .banners{
       flex-direction: column;
        
    }
    .banner1{
        width: 90%;
        margin:25px auto;
    }
    .bannerform{
        margin: 10px auto;

    }
    .imgicon{
        top:0;
        left: 45%;
    }
    .cart{
     flex-direction: column;
     margin-bottom: 10px;

    }
}